# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.log
.pytest_cache/
*.db
postgres

# Node
node_modules/
dist/
build/
.vite/
*.tsbuildinfo

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/